<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gestionar Solicitudes de Préstamos - Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <div class="flex-grow flex">
        <!-- Barra lateral de navegación -->
        <nav class="w-1/5 bg-blue-800 text-white min-h-screen p-4">
            <ul class="space-y-4">
                <li><a href="/librarian/list-books" class="hover:text-gray-200">Gestionar Libros</a></li>
                <li><a href="/librarian/add-book" class="hover:text-gray-200">Agregar Libro</a></li>
                <li><a href="/librarian/manage-loans" class="hover:text-gray-200">Solicitudes de Préstamos</a></li>
                <li><a href="/librarian/books-returns" class="hover:text-gray-200">Devolucion de Prestamo</a></li>
                <li><a href="/librarian/loan-history" class="hover:text-gray-200">Historial de Prestamos Devueltos</a>
                </li>
                <!-- Enlace de cierre de sesión -->
                <li class="mt-auto">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="hover:text-gray-200">
                            Cerrar sesión
                        </button>
                    </form>
                </li>
            </ul>
        </nav>

        <!-- Sección principal -->
        <div class="w-4/5 p-8">
            <h1 class="font-bold text-5xl mb-10">Gestionar Solicitudes de Préstamos</h1>

            <!-- Bloque para mostrar el error -->
            <div th:if="${error}" class="bg-red-200 text-red-800 p-2 rounded text-center">
                <p th:text="${error}"></p>
            </div>

            <!-- Tabla para mostrar los préstamos pendientes -->
            <div class="container mx-auto p-6 font-mono">
                <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full">
                            <thead>
                                <tr
                                    class="text-lg font-bold tracking-wide text-left text-white bg-blue-800 uppercase border-b border-gray-600">
                                    <th class="px-4 py-3">Libro</th>
                                    <th class="px-4 py-3">Usuario</th>
                                    <th class="px-4 py-3">Fecha de Solicitud</th>
                                    <th class="px-4 py-3">Duración</th>
                                    <th class="px-4 py-3 text-center">Acciones</th>
                                </tr>
                            </thead>

                            <tbody class="bg-white">
                                <tr th:each="loan : ${pendingLoans}" class="text-gray-700">
                                    <td class="px-4 py-3 border">
                                        <p class="font-semibold text-black" th:text="${loan.book.title}">Libro</p>
                                    </td>
                                    <td class="px-4 py-3 border">
                                        <div class="flex items-center text-sm">
                                            <div>
                                                <p class="font-semibold text-black" th:text="${loan.user.username}">
                                                    Usuario</p>
                                                <p class="text-xs text-gray-600">Usuario</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 text-sm border" th:text="${loan.requestDate}">Fecha de
                                        Solicitud</td>
                                    <td class="px-4 py-3 text-xs border" th:text="${loan.duration.label}">Duración</td>
                                    <td class="px-4 py-3 text-sm border">
                                        <div class="flex justify-center space-x-4">
                                            <!-- Botón Aceptar -->
                                            <form th:action="@{/librarian/accept-loan/{loanId}(loanId=${loan.id})}"
                                                method="post">
                                                <button type="submit"
                                                    class="px-4 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-lg hover:bg-green-500 hover:text-white">
                                                    Aceptar
                                                </button>
                                            </form>
                                            <!-- Botón Rechazar -->
                                            <form th:action="@{/librarian/reject-loan/{loanId}(loanId=${loan.id})}"
                                                method="post">
                                                <button type="submit"
                                                    class="px-4 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-lg hover:bg-red-500 hover:text-white">
                                                    Rechazar
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Pie de página -->
    <footer class="bg-blue-800 text-white text-center py-4">
        <p class="text-sm">Creado por Leonardo Alonso Aldana</p>
        <p class="text-sm">&copy; 2024 Biblioteca. Todos los derechos reservados.</p>
    </footer>
</body>

</html>